.AlluvialChart {
    padding: 0 1rem;
    box-sizing: border-box;

    .bar {
      stroke: white;
      stroke-width: 1px;
      cursor: pointer;
    }

    .modality-label {
      font-size: 10px;
      font-weight: bold;
      fill: black;
      cursor: pointer;
    }

    .step-title {
      font-size: 16px;
      fill: black;
      font-style: italic;
      font-weight: bold;
    }

    .link{
      // pointer-events: none;
    }
}