@import "../../styles/variables.scss";

.GuerreEtCroissance {
  .top-label-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    height: 100%;
  }
  .top-label {
    margin: 0;
    padding-bottom: 1rem;
  }
  circle {
    transition: 0.2s ease all;
  }
  .row-title-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    height: 100%;
    .row-title {
      margin: 0;
      text-align: right;
    }
  }

  .legend {
    font-family: $font-family-1;
    display: flex;
    flex-flow: column nowrap;
    // background: red;
    height : 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    // background: rgba(255,255,255,.5);
    h4,
    h5 {
      margin: 0;
      // font-size: 0.8rem;
      margin-right: 1rem;
      margin-left: $medium-gutter * 2;
      padding-bottom: 0.5rem;
    }
    h5 {
      font-size: .7rem;
    }
    li,
    p {
      font-size: 0.6rem;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: start;
        margin-bottom: 0.5rem;
        > span:first-of-type {
          margin-right: 1rem;
          min-width: 1rem;
          max-width: 1rem;
          text-align: right;
        }
      }
    }

    .legend-container {
      margin-bottom: $medium-gutter;
    }

    .ui-group-container {
      font-family: $font-family-1;
      margin-bottom: $medium-gutter;

      ul {
        margin: 0 0 $small-gutter $medium-gutter;
      }
      li {
        margin-left: $medium-gutter;
        margin-bottom: 0;
        cursor: pointer;
      }
    }
  }
  .metrics-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    pointer-events: none;
  }
  // .controls-container {
  //   position: relative;
  //   max-width: 100%;
  //   box-sizing: border-box;
  //   font-family: "IBM Plex Sans", sans-serif;
  //   .collapsable-controls {
  //     overflow-y: hidden;
  //     max-height: 0;
  //     background: white;
  //     transition: .5s ease all;

  //     ul{
  //       max-width: 100%;
  //       box-sizing: border-box;
  //       padding:0;
  //       margin-top: 0;
  //       padding-left: .5rem;
  //     }
  //     &.is-visible {
  //       max-height: 100vh;
  //       padding-top: 1rem;
  //       box-shadow: 0 0 1rem lightgrey;
  //     }
  //   }
  // }
}
