@import "../../styles/variables.scss";

.GuerreEtCroissance {
  .top-label-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    height: 100%;
  }
  .top-label {
    margin: 0;
    padding-bottom: 1rem;
  }
  circle {
    transition: 0.2s ease all;
  }
  .row-title-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    height: 100%;
    .row-title {
      margin: 0;
      text-align: right;
    }
  }

  .legend {
    font-family: $font-family-1;
    display: flex;
    flex-flow: column nowrap;
    // background: red;
    height : 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    .indicator-example {
      font-size: .4rem;
      padding: $small-gutter / 4;
      display: inline-block;
      min-width: 2rem;
      max-width: 2rem;
      margin-bottom: .1rem;
      text-align: center;
      box-sizing: border-box;
    }
    // background: rgba(255,255,255,.5);
    h4,
    h5 {
      margin: 0;
      // font-size: 0.8rem;
      margin-right: 1rem;
      margin-left: $medium-gutter * 2;
      padding-bottom: 0.5rem;
    }
    h5 {
      font-size: .7rem;
    }
    li,
    p {
      font-size: 0.6rem;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: start;
        margin-bottom: 0.5rem;
        > span:first-of-type {
          // margin-right: 1rem;
          min-width: 2rem;
          max-width: 2rem;
          text-align: right;
        }
        .legend-label {
          margin-left: 1rem;
        }
      }
    }

    .legend-container {
      margin-bottom: $medium-gutter;
    }

    .ui-group-container {
      font-family: $font-family-1;
      margin-bottom: $medium-gutter;

      ul {
        margin: 0 0 $small-gutter $medium-gutter;
        cursor: pointer;
      }
      li {
        margin-left: $medium-gutter;
        margin-bottom: 0;
        cursor: pointer;
      }
      label {
        cursor: pointer;
      }
    }
  }
  .metrics-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    pointer-events: none;
    > div {
      padding: $small-gutter / 4;
    }
  }

  .LineSeries {
    foreignObject {
      pointer-events: none;
    }
  }
}
