

.WarTransferChart {
  .label {
    font-family: "IBM Plex Sans", sans-serif;
    text-align: right;
    margin-right: 1rem;
    font-size: .8rem;
  }

  .link {
    opacity: .3;
  }

  .viz-title {
    margin: 0;
    font-size: 1rem;
  }
}